body {
    font-family: Arial, sans-serif;
    background: linear-gradient(65deg, #f4511e, #511ff4);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: linear-gradient(90deg, #f0e0e9, #e9d3d5, #e0c7dc);
}

h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.settings-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.settings-btn img {
    width: 40px;
    height: 40px;
}

#moves-count {
    margin: 20px;
    font-size: 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: transparent;
}

.wrapper {
    position: relative;
}

.game-board {
    display: grid;
    gap: 5px;
    margin-bottom: 20px;
    background: linear-gradient(65deg, #0a365e, #863a8b, #f6245d);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.rect_block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(16px + 1vw); /* Динамическое масштабирование размера шрифта */
    border: 2px solid #000000;
    cursor: pointer;
    position: absolute;
    transition: left 0.5s, top 0.5s;
    background: radial-gradient(white, lightskyblue);
    border-radius: 10px;
    width: calc(100% / 4 - 10px); /* Настройка ширины блока в зависимости от размера сетки */
    height: calc(100% / 4 - 10px); /* Регулировка высоты блока в зависимости от размера сетки */
}

.restart-game {
    padding: 10px 20px;
    background: linear-gradient(90deg, #e29afe, #1603c7);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border-radius: 10px;
    color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close-modal {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
